In [1]:
#Que 1: Name any five plots that we can plot using the Seaborn library. Also, state the uses of each plot.
#ans.
#1. Scatter plot: A scatter plot is a graphical representation of a two-dimensional dataset that uses dots to represent the values of two different variables. 
#It is useful for examining the relationship between two variables and detecting outliers.
#2. Line plot: A line plot is a plot that displays data as a series of points connected by straight lines. 
#It is useful for visualizing trends in data over time.
#3. Histogram: A histogram is a plot that shows the distribution of a dataset by dividing it into a set of intervals called bins and counting the number of values that fall into each bin. 
#It is useful for exploring the shape of a dataset and identifying outliers.
#4. Bar plot: A bar plot is a plot that displays data as rectangular bars. 
#It is useful for comparing the values of different categories or groups.
#5. Heatmap: A heatmap is a plot that displays data as a color-coded matrix. 
#It is useful for visualizing correlations between variables or identifying patterns in large datasets.

In [2]:
import seaborn as sns

Que 2: Load the "fmri" dataset using the load_dataset function of seaborn. Plot a line plot using x = "timepoint" and y = "signal" for different events and regions.

In [3]:
fmri = sns.load_dataset('fmri')
fmri.head()

  subject  timepoint event    region    signal
0     s13         18  stim  parietal -0.017552
1      s5         14  stim  parietal -0.080883
2     s12         18  stim  parietal -0.081033
3     s11         18  stim  parietal -0.046134
4     s10         18  stim  parietal -0.037970

In [ ]:
sns.lineplot(x = fmri.timepoint, y = fmri.signal)

In [ ]:
Que 3: Load the "titanic" dataset using the load_dataset function of seaborn. Plot two box plots using x = 'pclass', y = 'age' and y = 'fare'.

In [ ]:
titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
sns.boxplot(x = titanic['pclass'], y = titanic['age'])

In [4]:
sns.boxplot( y = titanic['fare'])

NameError: name 'titanic' is not defined

In [ ]:
Que 4: Use the "diamonds" dataset from seaborn to plot a histogram for the 'price' column. Use the hue parameter for the 'cut' column of the diamonds dataset.

In [5]:
dimd = sns.load_dataset('diamonds')
dimd.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
sns.displot(dimd['price'])

In [ ]:
sns.relplot(x = dimd.carat, y = dimd.price ,data = dimd, hue = 'cut')

Que 5: Use the "iris" dataset from seaborn to plot a pair plot. Use the hue parameter for the "species" column of the iris dataset.

In [ ]:
iris = sns.load_dataset('iris')
iris.head()

In [6]:
sns.pairplot(iris, hue='species')

NameError: name 'iris' is not defined

Que 6: Use the "flights" dataset from seaborn to plot a heatmap.